# SPDX-FileCopyrightText: 2024-2026 Temple University <kleinweb@temple.edu>
# SPDX-License-Identifier: CC0-1.0

# Data/logs
.data
*.log
*.sql
/test-results/
/playwright-report/
/blob-report/

# Secrets
auth.json
.env
.env.*
!.env.example
.ssh
*.key

# Dependencies
node_modules
vendor

# Context-specific
*.cache
*.local
*.local.*
.direnv
.idea
.php-cs-fixer.cache
.pre-commit-config.yaml

# Plugin: Query Monitor
# This is a symbolic link whose path will vary per-environment.
/wp-content/db.php

# Build artifacts
hot
result

# Editor
/.idea/
